DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/mydb"
API_KEY="smartloan-secret-key-2026"
NODE_ENV="development"
WEBHOOK_URL="http://localhost:5678/webhook/smart-loan"
API_BASE_URL="http://localhost:9000"